# Mind the fact that some files are forced into the directory local
# You need to git add --force local/... on a case by case basis.

local/
*.c
*.meta

# Texinfo:

*.html
*.log
*.tsv

# Chicken Scheme:

*.build.sh
*.import.scm
*.install.sh
*.link
*.o
*.so
